.navbar-brand img{
    height: 3em;
}
#exampleModalToggle{
    
    justify-self: flex-end;
}

#navbarNavDropdown li a{
    display:flex;
    align-items:flex-end;
}

.todos{
    font-size: 120%;
}
.texto{
    background-image: url(/asset/pexels-karolina-grabowska-4210860.jpg);
}
#imagen-texto{
    height: 35rem;

}